@model Lession1_OwnPractice.Models.Employee

@{
    ViewBag.Title = "Index";
}


<h2>Employee</h2>
<br />
@using (Html.BeginForm("Employee", "Employee", new { id = "form" }))
{
    <div id="load" style="display:none;"><img src="~/Content/giphy-preview.gif" /></div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Age, new { @class = "form-control", @style = "max-width:50px" })
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "max-width:500px" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Salary, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Salary)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="form-control" style="margin-left: auto" />
                </div>

            </div>

        </div>

    </div>
    <div>
        <div class="table table-responsive table-bordered">
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Address</td>
                            <td> Salary</td>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.employee)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@item.Salary</td>
                            </tr>
                        </tbody>
                    }

                </table>
            </div>

        </div>
    </div>


}



@Scripts.Render("~/bundles/jqueryval")
<script>
    //$(function () {
    //    $("#form").submit(function (e) {
    //        e.preventDefault();
    //        if ($(this).valid()) {
    //            alert("fgfg");
    //            $.post($(this).attr("action"),
    //                $(this).serialize(),
    //                function (data) {
    //                    alert("Saved successfully.");
    //                });

    //        });
    //}
    //    });



    $(function () {
        $("form").submit(function (e) {
            if ($(this).valid()) {
                $("#load").show();
                $.post($(this).attr("action"),
                    $(this).serialize(),
                    function (data) {
                        $("#load").hide();
                        alert("Saved successfully.");
                    });
                e.preventDefault();
            }
        });
    });




</script>